---
BasedOnStyle:  Mozilla
IndentWidth: 4
AlignConsecutiveMacros: AcrossEmptyLinesAndComments
AlignConsecutiveDeclarations: AcrossEmptyLinesAndComments
SortIncludes:    false
BraceWrapping:
  AfterFunction:   true
BreakBeforeBraces: Custom

